# Retrieving rows and specific columns

In [14]:
import pandas as pd
bond=pd.read_csv("jamesbond.csv",index_col="Film")
bond.sort_index(inplace=True)
bond.head()

                      Year           Actor  ... Budget  Bond Actor Salary
Film                                        ...
A View to a Kill      1985     Roger Moore  ...   54.5                9.1
Casino Royale         2006    Daniel Craig  ...  145.3                3.3
Casino Royale         1967     David Niven  ...   85.0                NaN
Diamonds Are Forever  1971    Sean Connery  ...   34.7                5.8
Die Another Day       2002  Pierce Brosnan  ...  154.2               17.9

[5 rows x 6 columns]

In [15]:
#Lets try to retrieve Thunderball index lable using loc
bond.loc["Thunderball"]

Year                          1965
Actor                 Sean Connery
Director             Terence Young
Box Office                   848.1
Budget                        41.9
Bond Actor Salary              4.7
Name: Thunderball, dtype: object

We can see by default, it is returning all the columns corresponding to that row but most of the time
we may require only selective columns and not all, this we can acheive by using the second arguement to the loc,iloc and ix

In [16]:
#Retrieving selective columns using loc
bond.loc["Goldfinger","Budget"]

18.6

In [17]:
bond.loc["Goldfinger":"Thunderball",["Actor","Director"]]

                                          Actor        Director
Film
Goldfinger                         Sean Connery    Guy Hamilton
Licence to Kill                  Timothy Dalton       John Glen
Live and Let Die                    Roger Moore    Guy Hamilton
Moonraker                           Roger Moore   Lewis Gilbert
Never Say Never Again              Sean Connery  Irvin Kershner
Octopussy                           Roger Moore       John Glen
On Her Majesty's Secret Service  George Lazenby   Peter R. Hunt
Quantum of Solace                  Daniel Craig    Marc Forster
Skyfall                            Daniel Craig      Sam Mendes
Spectre                            Daniel Craig      Sam Mendes
The Living Daylights             Timothy Dalton       John Glen
The Man with the Golden Gun         Roger Moore    Guy Hamilton
The Spy Who Loved Me                Roger Moore   Lewis Gilbert
The World Is Not Enough          Pierce Brosnan   Michael Apted
Thunderball                        Sean Connery   Terence Young

In [18]:
bond.loc[["Dr. No","Casino Royale"],"Year":"Director"]

               Year         Actor         Director
Film
Dr. No         1962  Sean Connery    Terence Young
Casino Royale  2006  Daniel Craig  Martin Campbell
Casino Royale  1967   David Niven       Ken Hughes

In [19]:
#Retrieving selective columns using iloc
bond.iloc[10:15,0:2]

                       Year           Actor
Film
Licence to Kill        1989  Timothy Dalton
Live and Let Die       1973     Roger Moore
Moonraker              1979     Roger Moore
Never Say Never Again  1983    Sean Connery
Octopussy              1983     Roger Moore

In [21]:
bond.iloc[[0,2,4,5,15],[1,2,4]]

                                          Actor       Director  Budget
Film
A View to a Kill                    Roger Moore      John Glen    54.5
Casino Royale                       David Niven     Ken Hughes    85.0
Die Another Day                  Pierce Brosnan   Lee Tamahori   154.2
Dr. No                             Sean Connery  Terence Young     7.0
On Her Majesty's Secret Service  George Lazenby  Peter R. Hunt    37.3

In [22]:
#Retrieving selective columns using ix
#By using ix, you can mix both index labels and postions
bond.ix[["Never Say Never Again","Licence to Kill"],[0,2,2]]

C:\Users\Gowtham\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

                       Year        Director        Director
Film
Never Say Never Again  1983  Irvin Kershner  Irvin Kershner
Licence to Kill        1989       John Glen       John Glen